.bio-container {
    border: 2px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 5px;
    border-radius: 10px;
    width: 300px;
    /*margin-top: 75px;*/
}

.bio-heading {
    text-align: left;
    padding-left: 20px;
}

.bio-list {
    list-style: inside;
}
