.post-card {
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 10px;
    /*margin-top: 75px;*/
    width: 850px;
    height: auto;
}

.post-avatar{
    border-radius: 50%;
    max-height: 55px;
}
.post-heading{
    display: flex;
    align-items: center;
}

.post-user {
    display: flex;
    flex-direction: column;
    font-size: 0.9em; /* Adjust the font size to make the text smaller */
    margin-left: 10px;
}

.post-fullname {
    margin: 0;
    padding: 0;
    font-size: 1.8em; /* Adjust the font size as needed */
}

.post-time {
    margin: 0;
    padding: 0;
    font-size: 0.8em; /* Adjust the font size to make the timestamp smaller */
    color: gray; /* Optionally, you can change the color of the timestamp */
}
.post-content{
    margin-top: 10px;
    font-size: larger;
}

.post-image {
    max-width: 100%;
}


.post-button-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.comment-container {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.comment-box {
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    margin-bottom: 10px;
}

.comment-actions {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.comment-modal {
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
}

.like-button {
    margin-right: 10px;
}

.like-badge {
    border: 2px solid #ccc;
}

.post-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.left-column {
    display: flex;
    align-items: center;
}

.like-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping to multiple lines if there are many users */
}

.right-column {
    display: flex;
    align-items: center;
}

.comment-container {
    margin-top: 10px;
}

.show-all-comments {
    display: block;
    text-align: left;
}